<div id="filter">
    <select id="inputState" class="form-control" (change)="viewFilterType($event)">
        <option selected>Filter</option>
        <option value="name">Name</option>
        <option value="high to low">price : high to loww</option>
        <option value="low to high">price : low to high</option>
        <option value="rating">rating</option>
      </select>
</div>
<div class="container-fluid" style="margin-top: 5%;">
       
<div *ngFor="let x of Products | filter : filterTerm">
    <div class="card">
        <div class="card-body" (click)="getItem(x)">
            <img class="productImage" src={{x.image}} alt="image">
            <p class="productTitle">{{x.title}}</p>
            <p>{{x.price | currency}}</p>
    
<ng-template #t let-fill="fill">
<span class="star" [class.full]="fill === 100">
  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
</span>
</ng-template>
<ngb-rating [(rate)]="x.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        </div>
        <div class="card-footer">
            <app-cart-button [title]="x" (displayNotification)="displayNotification($event)" ></app-cart-button>
    </div>
</div>
</div>
</div>
<div id="CartNotify" class="text text-center" *ngIf="NotifyAddedToCart">
        <h4>
            <b>Added to cart</b>
        </h4>
</div>

