 <app-carousel></app-carousel> 


      <div id="main-div">

    <div class="home-div" ><br><br><br>
        <h1>mens fasions</h1><br><br><br>
    
        <div class="mens-thumbnail"  ><img src="assets/men2.webp" [routerLink]="['/mens']" alt=""></div>

       
    
        <br><br>
    
        
        
        
        </div>
        
        <div class="home-div" ><br><br><br>
            <h1>mens fasions</h1><br><br><br>
 
            <div class="mens-thumbnail"  ><img src="assets\men3_files\closet-912694__340.webp" [routerLink]="['/mens']" alt=""></div>
           
        
            <br><br>
        
            
            
            
            </div>
      
    <div class="home-div" ><br><br><br>
        <h1>elctronics</h1> <br><br><br>
        <div class="mens-thumbnail" ><img src="assets\elctronics.webp" [routerLink]="['/elctronics']" alt=""></div>
    
        <br><br>
        
        
        
        
        </div><br><br>
        <div class="home-div" ><br><br><br>
            <h1>jwelery items </h1> <br><br><br>
            <div class="mens-thumbnail"  ><img src="assets/kitchen.webp"  [routerLink]="['/kitchen']" alt=""></div> 
            <div class="mens-thumbnail"  ><img src="assets/kitchen5.webp"  [routerLink]="['/kitchen']" alt=""></div>
            <div class="mens-thumbnail"  ><img src="assets/kitchen4.webp" [routerLink]="['/kitchen']" alt=""></div>
         
    
            
            <br><br>
            
            </div>
</div> 

